* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
}

.img-container {
  display: none;
}
form {
  padding: 2rem;
  background-color: rgba(126, 154, 153, 0.4);
}
input {
  padding: 1rem 2rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
}

button {
  padding: 1rem 2rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}

#progress {
  width: 30%;
  background-color: rgba(126, 154, 153, 0.4);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
}

#progress-bar {
  height: 20px;
  width: 0;
  background-color: #4caf50;
  border-radius: 5px;
}

.error {
  display: none;
}
